.git/
.github/
.idea/
/build/
/public/bundles/
tests/
vendor/
var/

.env.local
.env.*.local
Dockerfile
.dockerignore
compose.yml
compose.*.yml
LICENSE
phpstan*
phpunit*
.php-cs-fixer*
symfony.lock
captainhook.json
conventional-commits.json
.gitattributes
.gitignore
