.git/
.github/
.idea/
/build/
/public/bundles/
tests/
vendor/
var/

.env.local
.env.*.local
Dockerfile
.dockerignore
*compose.yml
LICENSE
phpstan*
phpunit*
symfony.lock
captainhook.json
conventional-commits.json
.php-cs-fixer.dist.php
.gitattributes
.gitignore